<a href="https://colab.research.google.com/github/emretan9/Python/blob/main/seabornMatplot.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
sns.distplot([0, 1, 2, 3, 4, 5], hist=False)

plt.show()

In [ ]:
sns.set_theme(style="darkgrid")
df = sns.load_dataset("penguins")
sns.displot(
    df, x="flipper_length_mm", col="species", row="sex",
    binwidth=3, height=3, facet_kws=dict(margin_titles=True),
)

In [ ]:
sns.set_theme(style="ticks")

df = sns.load_dataset("anscombe")


sns.lmplot(x="x", y="y", col="dataset", hue="dataset", data=df,
           col_wrap=2, ci=None, palette="muted", height=4,
           scatter_kws={"s": 50, "alpha": 1})

In [ ]:
sns.set_theme(style="ticks")

# Load the penguins dataset
penguins = sns.load_dataset("penguins")

# Show the joint distribution using kernel density estimation
g = sns.jointplot(
    data=penguins,
    x="bill_length_mm", y="bill_depth_mm", hue="species",
    kind="kde",
)

# 2.dataset car crashes

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [ ]:
df=sns.load_dataset("car_crashes")

sns.scatterplot(data = df, x = "speeding", y = "alcohol")

plt.show()

In [ ]:
df=sns.load_dataset("car_crashes")
grid = sns.FacetGrid(df, col = "not_distracted", hue = "ins_losses", col_wrap=5)
grid.map(sns.scatterplot, "speeding", "alcohol")

grid.add_legend()

plt.show()

In [ ]:
import numpy as np
import matplotlib.colors as col
from mpl_toolkits.mplot3d import Axes3D
import matplotlib.pyplot as plt
#Data for a three dimensional line
z = np.linspace(0, 15, 1000)
x = np.sin(z)
y = np.cos(z)
fig = plt.figure()
ax = fig.add_subplot(111, projection='3d')
ax.plot3D(x, y, z, 'grey')
#Data for three dimensional scattered points
z = 15 * np.random.random(100)
x = np.sin(z) + 0.1 * np.random.randn(100)
y = np.cos(z) + 0.1 * np.random.randn(100)
ax.scatter3D(x, y, z, c=z, cmap='Greens')
plt.show()

In [ ]:
def f(x, y):
    return np.sin(np.sqrt(x ** 2 + y ** 2))
x = np.linspace(-6, 6, 30)
y = np.linspace(-6, 6, 30)
x, y = np.meshgrid(x, y)
z = f(x, y)
fig = plt.figure()
ax = plt.axes(projection='3d')
ax.contour3D(x,y,z,50, cmap='binary')
ax.set_xlabel('x')
ax.set_ylabel('y')
ax.set_zlabel('z')
plt.show()

# PROJE DENEMESİ:

In [ ]:
import pandas as pd

In [ ]:
veri=pd.read_csv("https://raw.githubusercontent.com/robinske/password-data/master/passwords/part-00000-abca9f4b-5795-47ee-8382-f523480a532f.csv")
veri

       password                                      hash  count
0       1980290  083040BB6B1D95F2B8AC447B50D21DAB38DAFF16     13
1      tornadof  0A7709AD9837766F20156FF016ABF66F8036ABC1     13
2     vova87654  66221A7691CDC27D9D31071A0CFA0712C100C7D7     13
3      XpKvShrO  4CB7086C94AE4D82E519FF8F98D0DA1DA38DBE53     13
4        tvjgtl  9E1FD26A17D2EBE7C9FD4181EF49424C7091D484     13
...         ...                                       ...    ...
6840       Gerd  57A4862F88FE6071C919C2339F76C4A64BFB9E25     69
6841  04011991j  0A7EB77C98C1602A064778C87964359D9A3A2A3C     69
6842    5101957  733B5C6641B2E28DBDD408039A50D951E40A85C3     69
6843  yeuanhnhe  3DA3F93506F3202E39D8929FB8F418A4C2A2A466     69
6844  08101991n  727DF2A78F4F0AEFD58BE23EC35744AE9D81AF66     69

[6845 rows x 3 columns]

In [ ]:
veri.password

0         1980290
1        tornadof
2       vova87654
3        XpKvShrO
4          tvjgtl
          ...
6840         Gerd
6841    04011991j
6842      5101957
6843    yeuanhnhe
6844    08101991n
Name: password, Length: 6845, dtype: object

In [ ]:
b=input("enter password:")
for b in veri.password() :
  print("hg")

enter password:5101957

TypeError: ignored

# derste:

In [ ]:
data= {"name":"zafer","password":"1,2,3"}
data2= {"name":"emre","password":"963"}
x= input("name:")
y= input("password:")

if [x=="data== name "] and [y=="data==password"]:
  print("hg")
elif [x=="data2== name"] and [y=="data2==password"]:
  print("hg")
elif[x=="data== name"] and [y=="data!= password"]:
  print("tekrar dene!")
elif[x=="data2== name"] and [y=="data2!=password"]:
  print("tekrar dene!")